[submodule "Macro9Pad/tinyusb"]
	path = src/drivers/tinyusb
	url = https://github.com/hathach/tinyusb.git
[submodule "Macro9Pad/Drivers/MSF_I2C"]
	path = src/drivers/MSF_I2C
	url = https://github.com/zlittell/MSF_I2C.git
[submodule "Macro9Pad/Drivers/MSF_NVM_FLASH"]
	path = src/drivers/MSF_NVM_FLASH
	url = https://github.com/zlittell/MSF_NVM_FLASH.git
[submodule "Macro9Pad/Drivers/MSF_RGB"]
	path = src/drivers/MSF_RGB
	url = https://github.com/zlittell/MSF_RGB.git
